{% extends 'base.html.twig' %} {% block body %}

<div class="container">
    <div class="row">
        <div class="col-sm-4 m-3">
        </div>
        <div class="col-sm-4">

            
{{ form_start(form) }}
    {{ form_row(form.username, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.fname, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.lname, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.language, {'attr': {'class': 'form-control'}}) }}
    <br>
    <button class="btn btn-primary" type="submit">Register!</button>
{{ form_end(form) }}
        </div>
        <div class="col-sm-4">
        </div>
    </div>
</div>
{% endblock %}